@import './colors.scss';
@import './typography.scss';

.cursor-pointer {
    cursor: pointer !important;
}

.text-right {
    text-align: right !important;
}

.text-line-through {
    text-decoration: line-through;
}

.justify-content-right {
    justify-content: right;
}

.float-right {
    float: right;
}

.place-content-center {
    place-content: center;
}

.text--inline {
    clear: both;
    display: inline-block;
    white-space: nowrap;
}

.field__transparent {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: unset;
}

.field__standard {
    .mat-input-element {
        color: $darkgrey !important;
        @extend .text--desktop03;
    }
}

.place-items-center {
    place-items: center;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.text-left {
    text-align: left !important;
}

.bg--success {
    background-color: $success;
}

.bg--danger {
    background-color: $danger;
}

.bg--info {
    background-color: $info;
}

.d-contents {
    display: contents;
}

.d-lg-contents {
    @include respond-to(laptop) {
        display: contents !important;
    }
}
.w-tablet-100 {
    @include respond-to(sm) {
        width: 100%;
    }
}
.w-laptop-100 {
    @include respond-to(md) {
        width: 100%;
    }
}

.crypto--breadcrumb {
    a {
        color: $grey;
        @extend .text--desktop04;
        @extend .medium;
        text-decoration: none;
        text-transform: capitalize;
        &.active {
            color: $primaryColor;
        }
    }
    i {
        color: $grey;
        @extend .text--desktop04;
    }
}

.flex--container {
    flex-grow: 1; 
    flex-basis: 0
}